.DS_Store
*~
.#*
*.orig
*.rej

# Ignore YUI Compressor and jsmin compiled files
maintainer-tools/yuicompressor.jar
maintainer-tools/jsmin/jsmin
maintainer-tools/jsmin/jsmin.o

# Ignore local config files
git-hooks/whups-git-hook-conf.php
webhooks/push-conf.php
maintainer-tools/horde-build-website-docs.conf

# Ignore horde-installer.phar files
maintainer-tools/composer.phar
maintainer-tools/horde-installer.phar
dev-php84-ldap/git-tree/*
dev-php84-ldap/install-tree/*
dev-php84-ldap/tools/*
dev-php84-ldap/mariadb-data/*
dev-php84-ldap/mariadb-seed/*
dev-php84-ldap/ldap-data/*
dev-php84-ldap/ldap-config/*

!.keep