.DS_Store
*~
.#*
*.orig
*.rej

# Ignore YUI Compressor and jsmin compiled files
maintainer-tools/yuicompressor.jar
maintainer-tools/jsmin/jsmin
maintainer-tools/jsmin/jsmin.o

# Ignore local config files
git-hooks/whups-git-hook-conf.php
maintainer-tools/horde-build-website-docs.conf

# Ignore horde-installer.phar files
maintainer-tools/composer.phar
maintainer-tools/horde-installer.phar
