.DS_Store
*~
.#*
*.orig
*.rej

# Ignore YUI Compressor and jsmin compiled files
maintainer-tools/yuicompressor.jar
maintainer-tools/jsmin/jsmin
maintainer-tools/jsmin/jsmin.o

# Ignore local config files
git-hooks/commit-update-tickets-conf.php
maintainer-tools/horde-make-release-conf.php
