<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
  <filter>
    <whitelist>
      <directory suffix=".php">.</directory>
      <exclude>
	<directory suffix=".php">bin</directory>
	<directory suffix=".php">admintools</directory>
	<directory suffix=".php">devtools</directory>
	<directory suffix=".php">Sabre</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
