<?php
$directory = $config->getPath();

$component = $config->getComponent();
if (preg_match('/^Horde_/', $component->getName())) {
    $testclass = 'Horde_' . basename($directory) . '_AllTests';
    $testpath  = 'test/Horde/' . strtr(basename($directory), '_', '/');
} else {
    $testclass = basename($directory) . '_AllTests';
    $testpath  = 'test/' . ucfirst(basename($directory));
}
?>
<?php echo '<?xml version=\'1.0\' encoding=\'UTF-8\'?>' . "\n"; ?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false">
  <testsuites>
    <testsuite name="<?php echo $testclass; ?>">
      <directory suffix="AllTests.php"><?php echo $testpath; ?></directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="<?php echo $testclass; ?>"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="80"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">lib</directory>
      <exclude>
        <file>lib/Application.php</file>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
