# Copy this file to "hudson.local" to override values from the default
# configuration in "hudson"

# Override the default hudson user here if required.
#HUDSON_USER=ubuntu

# Disable checking for an open port
#CHECK_PORT=0

